.cartDetails{
	text-align: left;
	width: 60%;
}

.cartHeader{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cartItem{
	margin: 10px 0;
}

.cartItem img{
	width: 150px;
	height: 150px;
	border-radius: 5px;
	box-shadow: 0 0 5px #dcdcdc;
}

.cartTotal{
	padding-left: 20px;
	background-color: #4b4b4b;
	color: white;
	padding: 30px;
	margin-bottom: 40px;
	width: 30%;
	height: 300px;
}

.cartTotal :first-child{
	font-weight: bold;
	margin-bottom: 30px;
}

.total{
	 text-align: left;
	 display: flex;
	 justify-content: space-between;
	 padding: 20px 0;
}

.cart {
	margin-top: 40px;
	width: 100%;
}

.cartInfo {
	display: flex;
	justify-content: space-around;
}

.cart h2 {
	margin-bottom: 40px;
}
