.login{
	text-align: left;
}

h3{
	font-weight: bold;
}

.content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bg-image {
	width: 60%;
	background: #F3F3F5;
}

.bg-image img {
	width: 100%;
	height: inherit;
}

.top {
	padding-top: 40px;
	width: 40%;
	background: #F3F3F5;
	box-shadow: 0 0 10px #dcdcdc;
}

form {
	margin: auto;
}

@media only screen and (min-width: 400px){
	.login{
		width: 300px;
		padding: 0 20px
	}
}