.brand Button{
	border-radius: 0;
	color: #4b4b4b;
	display: inline-block;
	font-size: large;
	margin-right: 20px;
	padding: 10px 20px;
	border: 0;
	outline: none;
	border-bottom: 2px solid #002144;
	transition: 0.4s;
}

.brand Button:hover, .brand Button:active{
	background-color: #4b4b4b;
	color: #dcdcdc;
}

.cartLink Link{
	width: 40px;
	text-decoration: none;
}

.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	padding: 40px;
}

.item{
	border-radius: 5px;
	box-shadow: 0 0 10px #dcdcdc;
}

.item img{
	max-width: 100%;
	min-width: 100%;
	height: 250px;
	padding: 20px;
}

.itemDetails button{
	margin: 0;
	padding: 10px;
	align-self: flex-end;
	background: none;
	border: none;
	outline: none;
}

.itemDetails button > *{
	color: #4b4b4b;
	margin: 0;
	transition: 0.4s;
}

.itemDetails button:hover > *{
	color: #4b4b4b;
	transform: scale(1.3);
	margin: 0;
}

.itemDetails{
	color: #002144;
	text-align: left;
	font-size: large;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #4b4b4b;
}

.itemName :first-child{
	font-size: x-large;
	font-weight: bold;
}

.shop {
	padding-top: 40px;
	width: 100%;
}

@media only screen and (max-width: 680px){
	.items{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 480px){
	.items{
		grid-template-columns: repeat(1, 1fr);
	}
}